.navbar{
    padding: 1.2rem 4.9rem !important;
}

.navbar-nav{
    margin-left: 60px;
    margin-top: 0.2rem !important;
}

.nav-item{
    padding: 0 10px 0 15px;
}

.nav-buttons{
    list-style-type: none;
    display: flex;
}
.button{
    background-color: rgb(24, 24, 75);
    margin: 0 5px;
    width: 110px;
    height: 35px;
    border-radius: 5px;
    padding: 0 25px;
}
.sign{
    color: white;
    text-decoration: none;
    font-size: 11px;
}
.images-gen{
    display: flex;
}
.one-three, .two-four{
    display: flex;
    flex-direction: column;
}
.image{
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
}
.welcome-img{
    position: absolute;
    transition: .5s;
    left: -999999px;
    right: -999999px;
    top: -999999px;
    bottom: -999999px;
    transform: scale(1);
    margin: auto;
}
.image-four::after{
    content: '';
    position: absolute;
    background: #1A153A;
    z-index: 2;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    /* right: 0;
    bottom: 0; */
    opacity: .8;
}
.welcome-img4{
    transition: .5s;
}
.image:hover .welcome-img{
    transform: scale(1.1);
}
.image:hover .welcome-img4{
    transform: scale(1.1);
}
.image-four{
    opacity: 1;
}

.text-content{
    position: absolute;
}